@font-face {
  font-family: 'Syne-Italic';
  src:url('assets/Syne-Italic.woff2'), url('assets/Syne-Italic.woff');
}

body {
    height:100vh;
    width:100vw;
    background-color: #051526;
    color: #ffeeca;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Syne-Italic', sans-serif;
}

canvas {
    display: block;
}

div {
  width: 20px;
  height: 20px;
}

img {
    width: 20px;
    height: 20px;
}

p {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1.5s opacity;
}

@media only screen and (max-width:600) {
  body {
    overflow: hidden;
  }
}