body {
    height:100vh;
    width:100vw;
    background-color: #051526;
    color: #071066;
    padding: 0;
    margin: 0;
    text-align: center;
}

canvas {
    display: block;
}

div {
  width: 20px;
  height: 20px;
}

img {
    width: 20px;
    height: 20px;
}